

<div class="container-header">
    <!-- <h4 class="header">Welcome to My Website</h4> -->
    <!-- <nav> -->
        <div>
            <h4 class="header">Website Name</h4>
        </div>
        <div class="listParent">
            <ul class="list">
                <!-- <li><a href="#">Home</a></li> -->
                <li><a href="#">About</a></li>
                <li><a href="#" onclick="(function delet(){sessionStorage.clear()})()">Logout</a></li>
                <!-- <li><a href="#">Contact</a></li> -->
            </ul>
        </div>
        
    <!-- </nav> -->
</div>
