<div class="pt-2">
    <ul class="list">
        <li><a>
          <mat-icon>supervisor_account</mat-icon>
          <span routerLink="/employee/list">Employees</span>
        </a></li>
        <li><a >
          <mat-icon>work</mat-icon>
          <span routerLink="/employee/salary">
            Projects
          </span>
        </a></li>
        <li><a >
          <mat-icon>event_available</mat-icon>
          <span routerLink="/contact">
            Targets
          </span>
        </a></li>
      </ul>
</div>
